body {
    background-color: #ecf8ff;


}

#centerbox {
    margin: 100px auto;
    width:600px;
    height: 400px;

}


#logo {
    float: left;
    width: 340px;
    height:400px;
    margin: 0 5px 0 0;
}

.login {

    background-color: white;
    width: 250px;
    height: 100px;
    float: right;
    margin-top: 0;
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 5px;
}

.signup {
    background-color: white;
    width: 250px;
    height: 290px;
    float: right;
    margin: 5px 0 0 5px;
    bottom: 0;
}

.inner{
	margin-left: auto;
	margin-right: auto;
    margin-top:10px;
    margin-left: 3px;
}


button{
	margin-right: 10px;
    float: right;

}

input{
    float: right;
     margin-right: 5px;
}


.row{
	width: 100%;
	margin-top: 5px;
}

.w3-select{
    float:right;
    margin-right: 5px;

}

.signuptext {
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.login .inner{
    margin-top: 20px;
}

#signout{
    width: 100px;
    height: 30px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #3048ff;
    clear: both;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 15px;

}
/* Profile */


.tablink{
    float: left;
    width: 100px;
    height: 30px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #3048ff;
}

.tablink:focus {
    background-color: #6f8cff ;
}

/* Change password */


#changepassword {
    background-color: floralwhite;
    margin: 100px auto;
    width:350px;
    height: 175px;

}


#changepassword h1{
    position: relative;
    margin-top: 10%;
    font-family: Arial;
}

#changepassword button {
    position: relative;
    left: 40%;
    top: 27px;
    width: 45%;
    height: 20px;
}

.tab h2{
    position: relative;
    left: 25%;
}

/* Home-tab */

#home-personalinformation {
    font-family: Helvetica;
    float: left;
    width: 25%;
    height: 500px;
    background-color: white;
    margin-left: 5px;
}
#browse-personalinformation {
    font-family: Helvetica;
    float: left;
    width: 25%;
    height: 500px;
    background-color: white;
    margin-left: 5px;
}

#home-postarea {
    float: left;
    width: 40%;
    height: 150px;
    background-color: white;
    margin: 0 5px 5px 15px;
}
#browse-postarea {
    float: left;
    width: 40%;
    height: 150px;
    background-color: white;
    margin: 0 5px 5px 15px;
}
#home-postwall {
    float: left;
    width: 40%;
    height: 500px;
    background-color: white;
    margin: 10px 5px 5px 15px;
}
#browse-postwall {
    float: left;
    width: 40%;
    height: 500px;
    background-color: white;
    margin: 10px 5px 5px 15px;
}
#home-reload {
    float: left;
}
#browse-reload {
    float: left;
}

.button{
    margin: 10px;

    width: 90px;
    height: 25px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: white;
}

#home-postonwall {
    position: relative;
    top: 80%;
     width: 90px;
    height: 25px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #ecf8ff;
}
#browse-postonwall {
    position: relative;
    top: 80%;
     width: 90px;
    height: 25px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #ecf8ff;
}

#home-photo {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height:50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#browse-photo {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height:50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.info {

    float: left;
    margin-left: 5px;
    margin-right: 10px;

}

.info-userinfo {
  text-align: left;
  padding-left: 10px;
  display: inherit;

}

#home-inputpost {
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 90%;
    height: 70%;
    font-size: large;
}
#browse-inputpost {
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 90%;
    height: 70%;
    font-size: large;
}

#home-header {
    margin-left: 45%;
}
#browse-header {
    margin-left: 45%;
}

/*Browse */
#searchbar{
    width: 40%;
    height: 50px;
    margin: auto;
    margin-top: 75px;

}

#search{
    width: 70%;
    height: 20px;
    float:left;
    border-radius: 15px;
    border: 1px black solid;
    margin:10px;

}

#browse-user-message {
    margin-left: 45%;
}
