body {
    background-color: #ecf8ff;

}

button{
    float:right;
    margin-top: 10px;
}

.firstpage{
    margin: 100px auto;
    width:600px;
    height: 400px;

}

#logo {
    float: left;
    width: 340px;
    height:400px;
}


#signin{
    padding-left: 40px;
}

.logintext{
    font-size: 25px;
}


.signuptext{
    font-size: 25px;
}

/* Padding of the login and signup form depending on the screen-size*/
@media screen and (max-width:2000px) {
    #login {
        padding-left: 50px;
    }
}
 @media screen and (max-width:1200px) {
        #login{
            padding-left:75px;
        }
    }
@media screen and (max-width:768px) {
    #login {
        padding-left: 0px;
    }
}
@media screen and (max-width:320px) {
    #login {
        padding-left: 0px;
    }
}
@media screen and (max-width:2000px) {
    #saveform {
        padding-left: 50px;
    }
}
 @media screen and (max-width:1200px) {
        #saveform{
            padding-left:75px;
        }
    }
@media screen and (max-width:768px) {
    #saveform {
        padding-left: 0px;
    }
}

@media screen and (max-width:320px) {
    #saveform {
        padding-left: 0px;
    }
}

.w3{
    margin-top: 10px;
}

.w3-select{
    float: right;
    margin-right: 5px;
    margin-left: 10px;
}


/* Profile */

#signout{
    width: 100px;
    height: 30px;
    float: right;
}

.tablink{
    float: left;
    width: 100px;
    height: 30px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #3048ff;
    text-color: black;
}

.tablink:focus {
    background-color: #6f8cff ;
}

/* Change password */

.savenew{
    padding-left: 25px;
    padding-right: 25px;
}



/* Home-tab */


.tab h2{
    position: relative;
    left: 25%;
}

#home-personalinformation {
    font-family: Helvetica;
    float: left;
    height: 600px;
    background-color: white;
    margin-left: 15px;
    margin-bottom: 10px;
}



#browse-personalinformation {
    font-family: Helvetica;
    float: left;
    height: 600px;
    background-color: white;
    margin-left: 15px;
    margin-bottom: 10px;

}

#home-postarea {
    float: left;
    height: 160px;
    background-color: white;
    margin: 0 5px 5px 15px;
}

#browse-postarea {
    float: left;
    height: 160px;
    background-color: white;
    margin: 0 5px 5px 15px;
}

#postonwall{
    margin-top: 0px;
    margin-right:10px;
}


/* Padding of the reload-button depending on the screen-size*/
@media screen and (max-width:2000px) {
    #home-reload {
        margin-top: 200px;
    }
}
 @media screen and (max-width:1200px) {
        #home-reload{
            margin-left:-10px;
            margin-top: 200px;
        }
    }
@media screen and (max-width:768px) {
    #home-reload {
        margin-left: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width:320px) {
    #home-reload {
        margin-left: 50px;
        margin-top: 10px;
    }
}

@media screen and (max-width:2000px) {
    #browse-reload {
        margin-top: 80px;
    }
}
 @media screen and (max-width:1200px) {
        #browse-reload{
            margin-left:-10px;
            margin-top: 80px;
        }
    }
@media screen and (max-width:768px) {
    #browse-reload {
        margin-left: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width:320px) {
    #browse-reload {
        margin-left: 50px;
        margin-top: 10px;
    }
}

#browse-postonwall{
    margin-top: 0px;
    margin-right:10px;
}



#home-postwall {
    float: left;
    height: 500px;
    background-color: white;
    margin: 10px 5px 5px 15px;
}
#browse-postwall {
    float: left;
    height: 500px;
    background-color: white;
    margin: 10px 5px 5px 15px;
}

.button{

    background-color: #9ce9ff;
    border-width: 2px;
    border-color: white;
}


#home-postonwall {
    position: relative;
    top: 80%;
     width: 90px;
    height: 25px;
    background-color: #9ce9ff;
    border-width: 2px;
    border-color: #ecf8ff;
}

#home-photo {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height:50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#browse-photo {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height:50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.info {

    float: left;
    margin-left: 5px;
    margin-right: 10px;

}

.info-userinfo {
  text-align: left;
  padding-left: 10px;
  display: inherit;

}

#home-inputpost {
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 90%;
    height: 60%;
    font-size: large;
}
#browse-inputpost {
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 90%;
    height: 70%;
    font-size: large;
}

#home-header {
    margin-left: 45%;
}
#browse-header {
    margin-left: 45%;
}

/*Browse */
#searchbar{
    height: 50px;
    margin: auto;
    margin-top: 75px;

}

#search{
    height: 30px;
    float:left;
    border-radius: 15px;
    border: 1px black solid;

}

#searchbar button{
    margin-bottom: 10px;
}

#browse-user-message {
    margin-left: 45%;
}


